---
import TextPageLayout from "@layouts/TextPageLayout.astro";
import { getCollection } from "astro:content";
import { getNature } from "src/utils/pantheon";

export const prerender = true;
export async function getStaticPaths() {
  const pantheonCollection = await getCollection("pantheon");

  return pantheonCollection.map((deity) => ({
    params: { deity: deity.slug },
    props: { deity },
  }));
}

const { deity } = Astro.props;
const { Content } = await deity.render();
---

<TextPageLayout title={deity.data.title} image={deity.data.image}>
  <p>
    <span class="font-bold">Мировозрение</span>
    <br />
    {getNature(deity)}
  </p>

  {
    deity.data.domain && (
      <p>
        <span class="font-bold">Домен</span>
        <br />
        {deity.data.domain}
      </p>
    )
  }

  {
    deity.data.symbol && (
      <p>
        <span class="font-bold">Символ</span>
        <br />
        {deity.data.symbol}
      </p>
    )
  }

  {
    deity.data.note && (
      <p>
        <span class="font-bold">Примечания</span>
        <br />
        {deity.data.note}
      </p>
    )
  }

  <div class="divider"></div>

  <Content />
</TextPageLayout>
