---
import type { CollectionEntry } from "astro:content";
import DeityLink from "./DeityLink.astro";

interface Props {
  title: string;
  deities: CollectionEntry<"pantheon">[];
}

const { title, deities } = Astro.props;
---

<div>
  <h3>{title}:</h3>
  {
    deities?.length > 0 && (
      <ol>
        {deities.map((deity) => (
          <li>
            <DeityLink deity={deity} />
            <div class="text-xs">
              {deity.data.domain && (
                <>
                  <span class="font-semibold">Домен:</span> {deity.data.domain}
                </>
              )}
              {deity.data.symbol && (
                <>
                  <br />
                  <span class="font-semibold">Символ:</span> {deity.data.symbol}
                </>
              )}
              {deity.data.note && (
                <>
                  <br />
                  <span class="font-semibold">Примечания:</span>{" "}
                  {deity.data.note}
                </>
              )}
            </div>
          </li>
        ))}
      </ol>
    )
  }
</div>
