---
import "@fontsource/cormorant-sc";
import "@fontsource-variable/montserrat";

import "../global.css";

import { defaultTheme } from "../themes";
import { ViewTransitions } from "astro:transitions";

import Drawer from "../components/Drawer.astro";

interface Props {
  title: string;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html class="overflow-x-hidden" lang="ru" data-theme={defaultTheme}>
  <head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- OG tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.origin} />

    <!-- Twitter card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <meta name="description" content={description} />
    <title>{title}</title>

    <ViewTransitions />
  </head>

  <body class="relative w-screen min-h-screen">
    <Drawer>
      <main class="py-8 lg:py-10 container">
        <slot />
      </main>
    </Drawer>
  </body>
</html>
