---
import { darkTheme, lightTheme } from "../constants/themes";

interface Props {
	title: string;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="night">
  <head>
    <!-- Theme change -->
    <script is:inline define:vars={{ darkTheme, lightTheme }}>
      let theme = localStorage.getItem("theme");

      if (!theme) {
        const isDarkMode = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;

        theme = isDarkMode ? darkTheme : lightTheme;
      }

      document.documentElement.setAttribute("data-theme", theme);
      localStorage.setItem("theme", theme);
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>

    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- OG tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.origin} />

    <!-- Twitter card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
